html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.left {
  width: fit-content;
  position: sticky;
  top: 0;
  left: 0;
  padding-left: 56px;
  padding-right: 20px;
  border-right: 1px solid rgb(47, 51, 54);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  font-size: 19px;
  font-weight: 700;
}

.left div {
  cursor: pointer;
}

.left .profile-pic {
  font-size: 15px;
  font-weight: 400;
}

.left .d-flex .ms-3 {
  color: white;
  font-weight: 400;
}

.left .tweet {
  min-width: 140px;
  height: 44px;
  display: flex;
  align-items: center;
  background-color: #1d9bf0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999999px;
}

.tweet-small {
  background-color: #1d9bf0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.center {
  border-top: 1px solid rgb(47, 51, 54);
  border-bottom: 1px solid rgb(47, 51, 54);
  border-right: 1px solid rgb(47, 51, 54);
}

.tweet-now {
  position: relative;
  top: 0;
}

.tweet-top {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.88);
  border: 0;
  color: white;
  top: 0;
  left: 0;
  z-index: 111;
}

.middle-tweet {
  background-color: #1d9bf0;
  border-radius: 99999px;
  padding: 8px 13px;
  cursor: pointer;
}

.tweet-now .d-flex {
  color: white;
}

.tweet-body {
  padding: 10px;
}

.tweet-body img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.tweet-body .text-input {
  background-color: black;
  outline: 0;
  color: white;
  border: 0;
  font-size: 20px;
}
.tweet-body .text-input::placeholder {
  color: rgb(180, 180, 180);
}

.left-small {
  padding-left: 13px;
  padding-right: 13px;
  border-right: 1px solid rgb(47, 51, 54);
  height: 100vh;
  width: fit-content;
  position: sticky;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.tweet-div {
  color: white;
  position: relative;
  border-top: 1px solid rgb(47, 51, 54);
  border-bottom: 1px solid rgb(47, 51, 54);
}

.tweet-div .profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.tweet-div .tweet-image {
  border-radius: 14px;
}

.messi-div {
  border-top: 1px solid rgb(47, 51, 54);
}

.search-parent {
  padding: 5px 20px;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  right: 0;
}

.search {
  position: relative;
}

.search input {
  width: 307px;
}

.right {
  padding: 0 25px;
  margin: 0 15px;
}

.right input {
  outline: 0;
  border: 0;
  color: #e7e9ea;
  background-color: #202327;
  border-radius: 99999px;
  padding: 13px;
  padding-left: 38px;
}

.trends-for-you {
  background-color: #16181c;
  margin-top: 10px;
  width: 348px;
  border-radius: 12px;
}

.trends-for-you__header {
  font-size: 19px;
  font-weight: 800;
  color: white;
}

@media only screen and (max-width: 1280px) {
  .left {
    display: none;
  }
  .left-small {
    display: flex;
  }
}

@media only screen and (max-width: 1020px) {
  .right {
    display: none;
  }
}

@media only screen and (max-width: 705px) {
  .tweet-div .tweet-image {
    width: 65vw;
  }
  .text-eplisis {
    white-space: nowrap;
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
